.card {
	height: 300px;
	display: flex;
	overflow: hidden;
	position: relative;
	margin: 20px;
	border-radius: 4px;
	box-shadow: 0px 2px 6px 5px rgba(0,0,0,0.25);
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
		z-index: 1;
		& .textOverlay {
			display: flex;
		}
	}
}
  
.cardImg {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
  